<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Lexend:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <title>THERA-AI | Health Assistant</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.svg">
    <script src="static/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Getting Started</a></li>
            <li><a href="/doctor_login">Doctor Connect+</a><li>
    
        </ul>
    </nav>
    
    <article>
        <div class= "icon-style" style = "text-align: left;">
            <img src="static\images\pulse_alert_120dp_E11919_FILL0_wght400_GRAD0_opsz48.svg" alt="Main Logo" style="margin: 0px; width:400px;height:400px;">
            <h1 style="margin: 0px;">TheraAI<sup>assistant</sup></h1>
        </div>
    </article>  

    <div class="chat-container" style="text-align: right;">
        <div class="chat-header" style="text-align: right;">
            <h2 class="chat-header-title">Chat Assistant<h2>
            <em><h5 class="chat-header-title">Framwork Chat with our AI Assistant Thera</h5></em>
        </div>
        <div class="chat-msg-box"> 
            <p style="padding:10px;" class="botText">Hello, <br> This is an AI Medical Chat<br>This is completely anonymous, with no form of data collection. Each patient, will be marked with an ID, having no correlation to any information collected. This is a complete closed chat to be used to collect more information in determining a more accurate diagnosis, and providing more personalized healthcare to the user.<br></br>In order to start chatting, message "I need help". <br>Please be patient, as personalized responses may take up to 5 minutes.</p>
            <p style="padding:10px;" class="botText">To end messaging, message "I am satisfied with my care", close this webpage, or return to any other page on the website.</p>
        </div>
    </div>

    <div class="input-section" style="text-align:right;">
        <input id="chatMessage" type="text" name="chat_message" placeholder="Message. .  ."></input>
        <button id="send">Send</button> 
    </div>  

   


   <script>
        i = -1;
        $(document).ready(function(){
            $("button").click(function(){
                i += 1;
                var rawText = $("#chatMessage").val();
                if(i == 0) {
                    $("span").text(rawText);
                    $.get("/getFirstResponse").done(function (data) {
                        alert(data)
                        var botHtml = '<p class="botText" style="padding:10px;">' + data + "</p>";
                        var userHtml = '<p class ="userText" style="padding:10px;">' + rawText + "</p>"; 

                        $(".chat-msg-box").append(userHtml); 
                        $("#chatMessage").val(""); 
                        $(".chat-msg-box").append(botHtml);
                    }); 
                } else {
                    $("span").text(rawText);
                    $.get("/get", { msg: rawText }).done(function (data) {
                        alert(data)
                        var botHtml = '<p class="botText" style="padding:10px;">' + data + "</p>";
                        var userHtml = '<p class ="userText" style="padding:10px;">' + rawText + "</p>"; 

                        $(".chat-msg-box").append(userHtml);    
                        $("#chatMessage").val("");                      
                        $(".chat-msg-box").append(botHtml);
                    });
                }
                
            
                
            });

            
        });
   </script>

    
</body>
</html>