<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Lexend:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <title>THERA-AI | Health Assistant</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.svg">
    <script src="static/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Getting Started</a></li>
            <li><a href="/connectSessionDM">Doctor Connect+</a><li>
    
        </ul>
    </nav>
    
    <article>
        <div class= "icon-style" style = "text-align: left;">
            <img src="static\images\pulse_alert_120dp_E11919_FILL0_wght400_GRAD0_opsz48.svg" alt="Main Logo" style="margin: 0px; width:400px;height:400px;">
            <h1 style="margin: 0px;">TheraAI<sup>assistant</sup></h1>
            <h5 style="padding=10px; text-align:left; margin-left: 25px;"><em>Doctor Session Connect/Contact<em><h5>
        </div>
    </article>  
 
    <h2 style="margin-top: 40px; margin-bottom: 0px; margin-left: 38%; padding: 10px; text-align: center">Connection Page |Patients + Doctors|</h2>
    <em><h5 style="padding: 0px; margin-top: 0px; margin-left:43%; margin-right: 50px; text-align: center">Hover over each of the buttons, to see how patients can connect with doctors or how doctors can connect with the data of patients!</h5></em>
    
    <form action="/doctor_login" method='GET'>
        <button class="doctor" id="choicePORTAL" title="Login with your doctor credential account, in order to view generated reports!">Doctor Login</button>
    </form>
    <form action="/patient_connect" method='GET'>
        <button class="patient" id="choicePORTAL" title="Contact professionals, specialists, and doctors connected to this site for more medical help!">Patient Connect</button>
    </form>
    
    
</body>
</html>