<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Lexend:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <title>THERA-AI | Health Assistant</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.svg">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Getting Started</a></li>
            <li><a href="/doctor_login">Doctor Connect+</a><li>
    
        </ul>
    </nav>
    <article>
        <div style = "text-align: left;">
            <img src="static\images\pulse_alert_120dp_E11919_FILL0_wght400_GRAD0_opsz48.svg" alt="Main Logo" style="margin: 0px; width:400px;height:400px;">
            <h1 style="margin: 0px;">TheraAI<sup>assistant</sup></h1>
            <h5 style="padding=10px; text-align:left; margin-left: 25px;"><em>About Section<em><h5>
        </div>
    </article>  
</body>
</html>