<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Lexend:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <title>THERA-AI | Health Assistant</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.svg">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Getting Started</a></li>
            <li><a href="/connectSessionDM">Doctor Connect+</a><li>
    
        </ul>
    </nav>
    <article>
        <div style = "text-align: left;">
            <img class="icon" src="static\images\pulse_alert_120dp_E11919_FILL0_wght400_GRAD0_opsz48.svg" alt="Main Logo" style="margin-left: 15%; margin-top: 7%; width:400px;height:400px;">
            <h1 class="mainTITLE" style="margin-left: 15%; margin-bottom: 0;"><a style="text-decoration: none; color: black;" href="/home">TheraAI<sup>assistant</sup></a></h1>
            <h5 class="mainsubTITLE" style="margin-left: 25%;"><em>About Section<em><h5>
        </div>
    </article>  

    <div class="webpageCard" style="margin-left: 55%; margin-top: 2%; text-align: center; ">
        <div class="mainCardheader" style="text-align: center;">
            <h2 style="text-align: center; margin-top: 0px; margin-bottom: 0px; font-size: 30pt;">HOME :: ABOUT</h2>
            <h2 class="subSUBHometitle" style="text-align: center; margin-top: 0px; font-size: 10pt;">Official TheraAI System Card</h2>
        </div>
        <div class="table" style="width: 99%; padding: 0px; margin-top: 4%; display: table;">
            <div class="tablerow" style="padding: 0px; margin-right: 10%; display: table-row;">
                <div class="mainCardLeft" style="text-align: left;padding: 0px; display: table-cell;">
                    <h5 style="margin-top: 5px; margin-left: 10px; margin-bottom: 0px;">Competencies</h5>
                    <ul style="margin-top: 0px; text-align: left;">
                        <li>accurate</li>
                        <li>efficient</li>
                        <li>access</li>
                        <li>private</li>
                        <li>oath</li>
                        <li>safety</li>
                        <li>empathy</li>
                        <li>relation</li>
                        <li>organized</li>
                        <li>helpful</li>
                        <li>research</li>
                        <li>understood</li>
                        <li>contact</li>
                    </ul>
                    <h5 style="margin-top: 5px; margin-left: 10px; margin-bottom: 0px;">Skills</h5>
                    <ul style="margin-top: 0px; text-align: left;">
                        <li>Develop Medical Reports</li>
                        <li>Specify Diagnosis/Medication</li>
                        <li>Mimic Discussion with Patient</li>
                        <li>Follow Rule-Based Instruction</li>
                        <li>System Oath-Safety</li>
                        <li>Provides Reasoning</li>
                        <li>Store Data, and Select Data</li>
                        <li>Keep Information Secure</li>
                        <li>Ensure System Operation</li>
                    </ul>
                </div>
                <div class="mainCardRight" style="display: table-cell;">
                    <h5 style=" margin-left: 10px; margin-bottom: 0px;">Bio:</h5>
                    <h5 style=" margin-left: 10px; margin-bottom: 0px; text-align: left; font-style:normal; font-size: 10pt;">TheraAI, is a project that was built in the large case, due to the increasing need of free-healthcare, and a more personalized, efficient system, that can connect with the exact health issues the patient is experiencing. Thus, TheraAI, takes these social-issues to hand, having no subscription, being accessible globally [via the internet], and having the capability of chatting with a patient or doctor on the basis of any condition.</h5>
                </div>
            </div>
        </div>
        <div class="mainCardFooter" style="margin-top: 3%; text-align: center;">
            <h2 class="subSUBHometitle" style="font-style: normal; text-align: left; margin-top: 0px; font-size: 10pt;">Prototype THERA-AI: LorraineV1  ||  <em>8.11.24.7.A</em></h2>
        </div>
    </div>
</body>
</html>