<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Lexend:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <title>THERA-AI | Health Assistant</title>
    <link rel="icon" type="image/x-icon" href="static\images\favicon.svg">
    <script src="static/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/">Getting Started</a></li>
            <li><a href="/connectSessionDM">Doctor Connect+</a><li>
    
        </ul>
    </nav>
    
    <article>
        <div class= "icon-style" style = "text-align: left;">
            <img class="icon" src="static\images\pulse_alert_120dp_E11919_FILL0_wght400_GRAD0_opsz48.svg" alt="Main Logo" style="margin-left: 15%; margin-top: 7%; width:400px;height:400px;">
            <h1 class="mainTITLE" style="margin-left: 15%; margin-bottom: 0;"><a style="text-decoration: none; color: black;" href="/home">TheraAI<sup>assistant</sup></a></h1>
            <h5 class="mainsubTITLE" style="margin-left: 25%;"><em>Doctor Session Connect/Contact<em><h5>
        </div>
    </article>  
 
    <h1 style="font-style:normal; margin-left:40%; margin-top: 40px; margin-bottom: 0px;  padding: 10px; text-align: center">Connection Chart</h1>
    <h2 style="font-style:italic; margin-left:40%; margin-top: 0px; margin-bottom: 0px; padding: 10px;text-align: center;">:: social connection page ::</h2><br>
    <h5 style="padding: 0px; margin-top: 0px; margin-left:40%; margin-right: 50px; font-style: normal; text-align: center">Need to connect with a doctor, after finding out some needed health information. Use this chart, find one connected to the webstie.</h5>
    <div class="reportCenter">
        
        <table class="contactList" style="width: 500px; ">
            <tr>
                <th style="">First Name:</th>
                <th style="">Last Name:</th>
                <th style=" ">Email:</th>
                <th style="">Phone Number:</th>
                <th style="">Office Location:</th>
            </tr>
            {% for contact in contacts %}
                <tr>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.phoneNumber}}</td>
                    <td>{{contact.officeLocation}}</td>
                </tr>
                {% endfor %}
        </table>

    <div>
    
    
</body>
</html>